@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700&display=swap');
*{
    box-sizing: border-box ;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}


 #lightTheme{
  --brandPrimary: #0768AC;
  --brandSecondary: #03C180;
  --bgDefault: #FFFFFF;
  --bgBody: #F0F9FF;
  --linesColor: #DDDDDD;
  --bodyText: #333333;
  --heartColor: #DC143C;
}
 

#darkTheme {
    --brandPrimary: #0768AC;
    --brandSecondary: #03C180;
    --bgDefault: #1A1A1A;
    --bgBody: #282828;
    --linesColor: #000000;
    --bodyText: #EDEDED;
    --heartColor: #DC143C;
  } 


  h1, h2,h3 , h4, h5, h6 {
    margin: 0;
  }


  

